agritrust-client/.vscode/
agritrust-client/node_modules/
agritrust-client/.stylelintrc.json
agritrust-client/eslint.config.js

agritrust-server/artifacts/
agritrust-server/cache/
agritrust-server/contracts/
agritrust-server/data/
agritrust-server/node_modules/
agritrust-server/scripts/
agritrust-server/test/
agritrust-server/.env
agritrust-server/hardhat.config.js

ml-service/dataset/
ml-service/columns.pkl
ml-service/crop_model.pkl

.vscode